@model CadastroClientesWeb.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você tem certeza que deseja excluir este cliente ?</h3>
<div>
    <hr />
    <h4>Cliente</h4>
    <dl class="row">
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index"class="btn btn-primary"> Voltar</a>
            <input type="submit" value="Excluir" class="btn btn-danger" />
        </form>
</div>
